.Note {
  padding: 1rem 1.5rem;
  text-align: unset;
  outline: none;
  background: white;
  border: 0;
}
.Note:focus {
  background-color: #f6e3a2;
}
.Note:not(:last-child) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.Note:hover {
  cursor: default;
}
.Note__active {
  background-color: #f9efc5;
}

.Timestamp {
  margin-right: 1rem;
  opacity: 0.5;
}
.Text {
  opacity: 0.75;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Title {
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.Info {
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
