.Notes {
  max-height: 100%;
  padding-bottom: 20px;
  overflow-y: scroll;
  border-right: 2px solid rgba(0, 0, 0, 0.05);
  transition: all 300ms ease;
  width: 25%;
  white-space: nowrap;
  background-color: white;
}
.Notes__container {
  display: flex;
  flex-direction: column-reverse;
}

.Notes.Hide {
  width: 0;
  overflow-x: hidden;
}

@media (max-width: 460px) {
  .Notes {
    position: absolute;
    left: 0;
    top: 0;
    width: 65%;
    z-index: 1;
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    border-right: 0;
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.05),
      2px 5px 40px rgba(0, 0, 0, 0.1);
  }
}
